<%= form_with model: article do |form| %>
  <div>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.label :author_name %>
    <%= form.text_field :author_name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>


<div>
  <%= link_to "Back To Articles", articles_path %>
</div>
