

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %> </td>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.created_at %></td>
        <td><%= article.updated_at %></td>
        <td><%= article.author_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Create New Article", new_article_path %>
</div>
